.about {
  position: relative;
  top: -25px;
  // .about__wrapper
  &__wrapper {
    @include flex(space-between, $flex-direction: column);
    gap: 85px;
  }
  // .about__list
  &__list {
    display: flex;
	flex-wrap: wrap;
	align-items: center;
    gap: 25px;
  }
  // .about__item
  &__item {
    width: 100%;
    max-width: 454px;
    height: 179px;

    background-color: $accentColor;
    border-radius: 35px;
    @include flex(center, center);
	gap: 33px;
  }
  // .about__img
  &__img {
  }
  // .about__content
  &__content {
	@include flex(space-between, $flex-direction: column);
	gap: 10px;
  }
  // .about__subtitle
  &__subtitle {
	
  }
  // .about__text
  &__text {
	max-width: 270px;
  }
}
