.cards {
  position: relative;
  padding: 50px 0;
  // .cards__wrapper
  &__wrapper {
  }
  // .cards__title
  &__title {
    margin-bottom: 38px;
    &::after {
      left: -10%;
    }
  }

  .swiper {
    padding: 0 48px;
    &-wrapper{
      transform: translate3d(0px, 0px, 0px) !important;
    }
    // .swiper__item
    &__item {
      @include flex($align-items: center, $flex-direction: column);

      width: 506px;
      height: 765px;

      border-radius: 30px 30px 0px 0px;
      border: 3px solid #eecf60;

      padding: 90px 28px 40px;
      background: linear-gradient(
        90deg,
        #f6d4a6 0%,
        #c69e6d 0.01%,
        #f7d5a8 100%
      );
    }
    // .swiper__subtitle
    &__subtitle {
      font-family: "micra-bold";

      font-weight: 700;
      line-height: 26px;
      text-align: center;
      margin-bottom: 60px;
    }
    // .swiper__text
    &__text {
      font-family: "ProximaNova-Regular";

      font-weight: 400;
      font-size: 25px;
      line-height: 30px;
      text-align: center;
      margin-bottom: 110px;
    }
    // .swiper__box-img
    &__box-img {
      margin-bottom: 75px;
    }
    // .swiper__img
    &__img {
    }
    // .swiper__btn
    &__btn {
      @include flex(center, center);

      background: linear-gradient(90deg, #c8a06f 0%, #f8d6a9 100%);
      border-radius: 33px 0px;
      font-family: "ProximaNova-Extrabld";

      font-weight: 800;
      font-size: 45px;
      line-height: 45px;

      width: 372px;
      height: 78px;

      background: #010101;
      border-radius: 33px 0px;
    }
  }
  .cardsSwiper {
  }
  .swiper-wrapper {
  }
  .swiper-slide {
    &:nth-child(1),
    &:nth-child(3) {
      margin-top: 50px;
      .swiper__item {
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(3px);
      }
      .swiper__btn {
        width: 313px;

        background: linear-gradient(90deg, #c8a06f 0%, #f8d6a9 100%);
      }
    }
  }
  .subtitle {
  }
  .text {
  }
  .btn {
  }
  .swiper-slide-active {
  }

  // .cards__ellipse
  &__ellipse {
    position: absolute;
    width: 627px;
    height: 627px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: #fff;
    filter: blur(150px);
    z-index: -1;
  }
}
.container {
}
.title {
}
.swiper {
  // .swiper__item
  &__item {
  }
  // .swiper__subtitle
  &__subtitle {
  }
  // .swiper__text
  &__text {
  }
  // .swiper__box-img
  &__box-img {
  }
  // .swiper__img
  &__img {
  }
  // .swiper__btn
  &__btn {
  }
}
.cardsSwiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.subtitle {
}
.text {
}
.btn {
}
.swiper-slide-active {
}
