.spa {
  position: relative;
  padding: 105px 0 110px;
  // .spa__wrapper
  &__wrapper {
    @include flex(space-between, $flex-direction: column);
    gap: 85px;
    margin-left: 85px;
  }
  // .spa__title
  &__title {
    margin-left: 60px;
    &::after {
      left: -10%;
    }
  }
  // .spa__content
  &__content {
    position: relative;
  }
  // .spa__box-img
  &__box-img {
    position: relative;
    picture:nth-child(1) {
      z-index: 1;
      position: relative;

    }
    picture:nth-child(2) {
      position: absolute;
      left: 16%;
      top: 14%;
    }
    picture:nth-child(3) {
      position: absolute;
      left: 2%;
      top: 30%;
    }
    picture:nth-child(4) {
      position: absolute;
      left: 23%;
      top: 30%;
    }
  }
  // .spa__img
  &__img {
    &:nth-child(1) {
      z-index: 1;
      position: relative;
    }
    &:nth-child(2) {
      position: absolute;
      left: 16%;
      top: 14%;
    }
    &:nth-child(3) {
      position: absolute;
      left: 2%;
      top: 30%;
    }
    &:nth-child(4) {
      position: absolute;
      left: 23%;
      top: 30%;
    }
    
  }
  // .spa__list
  &__list {
  }
  // .spa__item
  &__item {
    @include flex(space-between, center, $flex-direction: column);
    gap: 20px;
    max-width: 360px;
    &:nth-child(1) {
      position: absolute;
      top: -10%;
      right: 43%;
    }
    &:nth-child(2) {
      position: absolute;
      top: 0%;
      right: 16%;
    }
    &:nth-child(3) {
      position: absolute;
      top: 20%;
      right: 38%;
      max-width: 287px;
    }
    &:nth-child(4) {
      position: absolute;
      bottom: 36%;
      right: 32%;
    }
  }
  // .spa__subtitle
  &__subtitle {
    /* SPA ПРОЦЕДУРЫ */
  }
  // .spa__text
  &__text {
    font-family: "ProximaNova-Regular";

    font-weight: 400;

    line-height: 24px;
    text-align: center;
    &--big {
      font-family: "micra-bold";
      font-weight: 700;
      font-size: 45px;
      line-height: 46px;
      text-align: center;
      text-transform: uppercase;
      margin-top: 50px;
      margin-left: 30px;
      max-width: 960px;
    }
  }

  // .spa__buttons
  &__buttons {
    position: absolute;
    bottom: -10%;
    left: 5%;
    transform: translateX(-50%) rotate(7deg);
    z-index: 2;
    width: 174px;
    height: 80px;
  }
  // .spa__ellipse1
  &__ellipse1 {
    z-index: -1;
    @include wh(545px);
    border-radius: 50%;

position: absolute;

right: -15%;
top: 15%;

background-color: rgba(234, 0, 70, 0.7);
filter: blur(150px);

  }
  // .spa__ellipse2
  &__ellipse2 {
    z-index: -1;
    @include wh(557px);
    border-radius: 50%;

position: absolute;

left: -6%;
top: 15%;

background-color: rgba(234, 0, 70, 0.7);
filter: blur(150px);

  }
  // .spa__ellipse3
  &__ellipse3 {
    z-index: -1;
    @include wh(419px);
    border-radius: 50%;
    
position: absolute;

left: 35%;
top: 30%;

background-color: rgba(232, 186, 24, 0.7);
filter: blur(150px);

  }
  // .spa__ellipse4
  &__ellipse4 {
    z-index: -1;
    @include wh(518px);
    border-radius: 50%;
    
position: absolute;

right: 2%;
bottom: 20%;


background-color: #FFF;
filter: blur(150px);


  }
  .swiper {
    overflow: visible;
    position: absolute;
    bottom: 7%;
    right: -72%;
    width: 100%;
    .swiper-wrapper {
      justify-content: center;
      transform: translate3d(0px, 0px, 0px) !important;
    }
    // .swiper__item
    &__item {
      @include flex(space-between, $flex-direction: column);
      padding: 20px 30px 16px;

      background-color: #fff;
      

      
    max-width: 390px;
    }
    // .swiper__box-img
    &__box-img {
      max-width: 390px;
      align-self: center;
      margin-bottom: 25px;
    }
    // .swiper__img
    &__img {
      transform: rotate(-7deg);
    }
    // .swiper__box-content
    &__box-content {
      @include flex(space-between, $flex-direction: column);
      gap: 10px;

    
    margin-bottom: 20px;
    }
    // .swiper__name
    &__name {
      font-family: "ProximaNova-Extrabld";
      font-weight: 800;
      font-size: 25px;
      line-height: 25px;

      color: #010101;
    }
    // .swiper__job
    &__job {
      font-family: "ProximaNova-Regular";

      font-weight: 400;
      font-size: 20px;
      line-height: 24px;

      color: #010101;
    }
    // .swiper__btn
    &__btn {
      @include flex(center, center);
      padding: 15px 40px;

      background-color: #000;
      border-radius: 25px;
      font-family: "ProximaNova-Regular";

      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      text-transform: uppercase;

      color: $textMainColor;
    }
  }
  .spaSwiper {
  }
  .swiper-wrapper {
  }
  .swiper-slide {
    transform: rotate(7deg);
  }
  .btn {
  }
  .swiper-button-next {
  }
  .swiper-button-prev {
  }
  .swiper-button-next,
  .swiper-button-prev {
    background-color: rgba(1, 1, 1, 0.5);
    border: 2px solid #fbd8aa;

    @include wh(80px);

    position: absolute;
    top: 5px;

    border-radius: 50%;

    &::after {
      @include pseudo;
      @include wh(29px);
      @include background(url(../img/icons/arrow.svg));
      @include pos(absolute, $top: 50%, $left: 56%);
      transform: translate(-50%, -50%);
    }
  }

  .swiper-button-next {
    right: 0;
  }

  .swiper-button-prev {
    right: 95px;

    &::after {
      transform: translate(-50%, -50%) rotate(180deg);
      left: 42%;
    }
  }

  .swiper-button-disabled {
    background-color: #fff;

    &::after {
      @include background(url(../img/icons/arrow.svg));
    }
  }

  .swiper-button-prev.swiper-button-disabled {
    &::after {
      // transform: translate(-50%, -50%) rotate(0deg);
    }
  }

  .swiper-button-next.swiper-button-disabled {
    &::after {
      // transform: translate(-50%, -50%) rotate(180deg);
    }
  }
}
