.trainer {
  position: relative;
  padding: 50px 0;
  // .trainer__wrapper
  &__wrapper {
    @include flex(space-between, $flex-direction: column);
    gap: 90px;
  }
  // .trainer__title
  &__title {
    &::after {
      left: -10%;
    }
  }
  // .trainer__list
  &__list {
    @include flex(space-between, center, wrap);
    gap: 22px;
  }
  // .trainer__item
  &__item {
    padding: 20px 45px;
    @include flex(center, center);

    background-color: #3a3a3a;
    border-radius: 53px;

    font-family: "ProximaNova-Regular";
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: $textMainColor;
  }
  // .trainer__tab
  &__tab {
  }
  // .trainer__tabpanel
  &__tabpanel {
    margin-top: 115px;
  }
  .tabpanel {
    // .tabpanel__body
    &__body {
    }
  }
  .tabpanel-container {
  }
  .swiper {
    overflow: visible;
    .swiper-wrapper {
      justify-content: center;
    }
    // .swiper__item
    &__item {
      @include flex(space-between, $flex-direction: column);
      padding: 20px 30px 16px;

      background-color: #fff;
      

      
    max-width: 375px;
    }
    // .swiper__box-img
    &__box-img {
      max-width: 375px;
    align-self: center;
    margin-bottom: 25px;
    }
    // .swiper__img
    &__img {
      transform: rotate(7deg);
    }
    // .swiper__box-content
    &__box-content {
      @include flex(space-between, $flex-direction: column);
      gap: 10px;

    
    margin-bottom: 20px;
    }
    // .swiper__name
    &__name {
      font-family: "ProximaNova-Extrabld";
      font-weight: 800;
      font-size: 25px;
      line-height: 25px;

      color: #010101;
    }
    // .swiper__job
    &__job {
      font-family: "ProximaNova-Regular";

      font-weight: 400;
      font-size: 20px;
      line-height: 24px;

      color: #010101;
    }
    // .swiper__btn
    &__btn {
      @include flex(center, center);
      padding: 15px 40px;

      background-color: #000;
      border-radius: 25px;
      font-family: "ProximaNova-Regular";

      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      text-transform: uppercase;

      color: $textMainColor;

      
    }
  }
  .trainerSwiper {
  }
  .swiper-wrapper {
  }
  .swiper-slide {

    transform: rotate(-7deg);
  &:nth-child(2n) {
    transform: rotate(7deg);
    position: relative;
    z-index: 1;
    .swiper__img {
      transform: rotate(-7deg);
    }
  }
  }
}

.swiper {
  // .swiper__item
  &__item {
  }
  // .swiper__box-img
  &__box-img {
  }
  // .swiper__img
  &__img {
  }
}
.trainerSwiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.trainer {
  // .trainer__wrapper
  &__wrapper {
  }
  // .trainer__title
  &__title {
  }
  // .trainer__list
  &__list {
  }
  // .trainer__item
  &__item {
  }
  // .trainer__tab
  &__tab {
  }
  // .trainer__tabpanel
  &__tabpanel {
  }
}
.container {
}
.title {
}
.tabpanel-container {
}
.tabpanel {
  // .tabpanel__body
  &__body {
  }
}
.swiper {
  // .swiper__item
  &__item {
  }
  // .swiper__box-img
  &__box-img {
  }
  // .swiper__img
  &__img {
  }
  // .swiper__box-content
  &__box-content {
  }
  // .swiper__name
  &__name {
  }
  // .swiper__job
  &__job {
  }
  // .swiper__btn
  &__btn {
  }
}
.trainerSwiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.btn {
}
