// Заголовки, общие БЄМ блоки и проче...

.title {
  font-family: "micra-bold";

  font-size: 59px;
  line-height: 61px;
  font-weight: 700;
  color: $textMainColor;
  text-transform: uppercase;

  position: relative;
  &::after {
    @include pseudo();
    @include wh(123px, 7px);

    position: absolute;

    left: -25%;
    top: 50%;

    background-color: #fff;
  }
}

.subtitle {
  font-family: "ProximaNova-ExtrabldIt";
  font-style: italic;
  font-weight: 900;
  font-size: 25px;
  line-height: 30px;

  color: $textMainColor;
  text-transform: uppercase;
}

.text {
  font-family: "ProximaNova-Light";

  font-weight: 300;
  font-size: 20px;
  line-height: 20px;

  color: $textMainColor;
}
