// Заголовки, общие БЄМ блоки и проче...

.title {
	font-family: "NormalidadCompact-Bold";
  font-weight: 700;
  font-size: 310px;
  line-height: 419px;
text-align: center;
  color: $textMainColor;
  max-width: 100%;
}

.subtitle {
  font-family: "micra-bold";

  font-size: 59px;
  line-height: 61px;
  font-weight: 700;
  color: $textMainColor;
}

.text {
  font-family: "OnestRegular";
  font-size: 12px;
  line-height: 150%;
  text-align: center;

  color: #0f2f2e;

  @include media(min, lg) {
    font-size: 16px;
  }

  &--decoration {
    text-decoration: underline;
  }

  &--green {
    color: #53cd8b;
    margin-bottom: 30px;
  }
}
