@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин
// Подключить если есть локальные файлы шрифтов
@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
@import "fonts/icons";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "micra";
$fontSize: rem(20); // где 20(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: linear-gradient(90deg, #C49A6A 0%, #FAD8AB 100%);
$textMainColor: #fff;
$textAccentColor: #000;
$accentColor: rgba(49, 48, 48, 0.6);
$svgColor: #F9D4A8;

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1700;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1435;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// Ширина страбатывания первого брейкпоинта
$containerWidth: $maxWidthContainer+$containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S
$grid_breakpoints: (xxl: 1439px,
	xl: 1349px,
	lg: 899px,
	md: 767px,
	sm: 575px,
);

// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

body {

	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
	}

	// Сайт загружен
	.loaded & {}
}

// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	// Прижимаем footer
	>main {
		flex: 1 1 auto;
	}

	// Фикс для слайдеров
	>* {
		min-width: 0;
	}
}

// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {

	// Отзывчивая
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
			margin: 0 auto;
		}

		@if ($containerPadding>0) {
			padding: 0 rem(math.div($containerPadding, 2));
		}
	}
}

@else {

	// По брейк-поинтам
	[class*="__container"] {
		margin: 0 auto;

		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
		}

		@else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}

		@media (max-width: $pc) {
			max-width: rem(970);
		}

		@media (max-width: $tablet) {
			max-width: rem(750);
		}

		@media (max-width: $mobile) {
			max-width: none;

			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}
picture{
	width: 100%;
	height: 100%;
}
.img{
	margin-left: 20px;
}
// Подключение стилей общих элементов проекта
@import "common";
// Подключение базовых стилей, шаблонов (заготовок) и вспомагательных классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";

// components

@import "./components/burger";
// @import "./components/swiper";
@import "./components/social";
@import "./components/scroll-header";



// sections

@import "./sections/prime";
@import "./sections/gallery";
@import "./sections/about";
@import "./sections/train";
@import "./sections/trainer";
@import "./sections/contacts";
@import "./sections/cards";
@import "./sections/kids";
@import "./sections/spa";


@import "./components/popup";

// block
@import "header";
@import "footer";
@import "./blocks/nav";
@import "./blocks/logo";
@import "./blocks/open-burger";


// Подключение стилей отдельных страниц
@import "home";


.tabpanel:not(:target):not(.visible) {
	display: none;
  }

  .tab:focus-visible {
	background-color: royalblue;
	color: whitesmoke;
	outline: 0.2em solid transparent;
  }

  .tab[aria-selected="true"] {
  }
 
  
  html:focus-within {
	scroll-behavior: smooth;
  }
  
  
  a:not([class]) {
	text-decoration-skip-ink: auto;
  }
  
  
  @media (prefers-reduced-motion: reduce) {
	html:focus-within {
	  scroll-behavior: auto;
	}}
  
	
  
  
  
  .with-sidebar {
	display: flex;
	flex-wrap: wrap;
	max-width: var(--max-width, 100%);
	gap: var(--gap, 0em);
	margin-inline: auto;
  }
  
  .sidebar {
	flex-basis: var(--sidebar-width, 9rem);
	flex-grow: 1;
  }
  
  .content {
	display: grid;
	place-items: center;
	flex-basis: 0;
	flex-grow: 999;
	min-width: var(--content-width, min(100%, 43.75rem));
  }
  
 
  a:not([class]):focus {
	outline: 2px solid var(--accent);
	outline-offset: 0.1875rem;
	border-radius: 0.3125rem;
  }
  
  [role="tabpanel"]:focus {
	outline: 4px solid var(--accent);
  }
 
  .tablist {
	display: flex;
	flex-wrap: wrap;
	margin: 0.2em;
	gap: 1em 0.2em;
	height: 100%;
  }
  
  .tablist li {
	flex: 1 1 4.375rem;
  }
  
  .tab {
	--sidebar-width: 2rem;
	--content-width: 60%;
	--gap: 0.1em 0.5em;
	padding: 0.5em 0.2em;
	text-decoration-color: transparent;
	border: 2px solid transparent;
	background-color: whitesmoke;
	color: #121212;
	font-size: clamp(0.88rem, calc(0.78rem + 0.49vw), 1.13rem);
  }
  
  .tab[aria-selected="true"] {
	background-color: var(--component-bg);
  }
  
  .tab:focus-visible {
	background-color: var(--accent);
	color: whitesmoke;
	outline: 0.2em solid transparent;
  }
  
  .flag {
	margin-inline: auto;
	aspect-ratio: 1;
	max-width: 2rem;
	height: auto;
	border-radius: 50%;
  }
  
  .description {
	font-weight: 500;
  }
  
  .tabpanel-container {
	position: relative;
	min-height: 50vh;
	font-size: clamp(1rem, calc(0.93rem + 0.37vw), 1.19rem);
	background-color: hsl(239deg 12% 92%);
	border: 0.2em solid var(--component-bg);
	isolation: isolate;
  }
  
  .tabpanel {
	display: flex;
	position: relative;
	flex-wrap: wrap;
	align-items: center;
	gap: 1em;
	padding: 1.5rem;
	background-color: var(--bg);
  }
  
  .tabpanel:nth-child(even) {
	flex-direction: row-reverse;
  }
  
  .tabpanel > * {
	flex: 1 1 20rem;
  }
  
  .tabpanel:not(:target):not(.visible) {
	display: none;
  }
  